$mdc-theme-primary: #03a9f4;
$mdc-theme-primary-light: #C5E9F8;
// $mdc-theme-primary-light: #ECF6FC;
$mdc-theme-secondary: #ffeb3b;
$mdc-theme-on-primary: white;
$mdc-theme-on-secondary: black;
$mdc-typography-font-family: "Arial";

@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/notched-outline/mdc-notched-outline";
@import "@material/floating-label/mdc-floating-label";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/fab/mdc-fab";

$phone-width: 320px; 
$tablet-width: 768px; 
$desktop-width: 1024px;

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 10px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


body {
  margin: 0;
  font-family: $mdc-typography-font-family;
}

a {
  text-decoration: none;
}

.grid-center {
  display: grid;
  justify-items: center;
}

.menu-row {
  margin: 10% 0;
}

.page-header {
  text-align: center;
}

// ----- LIST ------

.list-header {
  background-color: $mdc-theme-primary-light;
}

.list-text-left {
  text-align: left;
  width: 75%;
}

.list-text-right {
  text-align: left;
  margin-left: auto;
  margin-right: 0;
  width: 20%;
}
// ----- FORM ------

// text field
.above-outline {
  margin-bottom: 10px;
}

.text-field-gutter {
  margin: 0 1%;
}

.mdc-text-field {
  width: 100%;
}

// ------------------------------------------------ RESPONSIVENESS ------------------------------------------------
// --------------------------------------------------- DESKTOP --------------------------------------------------
@include desktop {
  .container {
    padding-top: 5%;
  }

// ----- HEADER -----
  .title {
    margin: 0 auto;
    font-size: 50px;
    color: $mdc-theme-on-primary;
  }
  
  .page-title {
    font-size: 40px;
    color: $mdc-theme-primary;
  }

  .page-header {
    text-align: center;
    padding-top: 3%;
  }

// ----- BUTTONS ------
  .submit-button {
    @include mdc-button-ink-color($mdc-theme-on-primary);
  }

  .delete-btn {
    margin-left: 80%;
    @include mdc-button-ink-color($mdc-theme-on-primary);
  }

  .fab-right {
    float: right;
    margin-right: 5%;
  }

  .fab-toolbar {
    margin: 0 5px;
  }

  .form {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
    margin: 2% 10%;
  }
}

// ------------------------------------------------ TABLET ------------------------------------------------
@include tablet {
  .container {
    padding-top: 10%;
  }

// ----- HEADER -----
  .title {
    margin: 0 auto;
    font-size: 40px;
    color: $mdc-theme-on-primary;
  }

  .page-title {
    font-size: 30px;
    color: $mdc-theme-primary;
  }

// ----- FORM ------
  .form {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
    margin: 2% 10%;
  }  

// ----- BUTTONS ------
  .submit-button {
    @include mdc-button-ink-color($mdc-theme-on-primary);
  }

  .delete-btn {
    margin-left: 80%;
    @include mdc-button-ink-color($mdc-theme-on-primary);
  }

  .fab-right {
    margin-left: 65%;
  }

  .fab-toolbar {
    margin: 0 5px;
  }
}

// ------------------------------------------------ PHONE ------------------------------------------------
@include phone {
  .container {
    padding-top: 20%;
  }

// ----- HEADER -----
  .title {
    margin: 0 auto;
    font-size: 30px;
    color: $mdc-theme-on-primary;
  }

  .page-header {
    text-align: center;
  }

  .page-title {
    font-size: 25px;
    color: $mdc-theme-primary;
  }

// ----- BUTTONS ------
  .submit-button {
    @include mdc-button-ink-color($mdc-theme-on-primary);
  }

  .delete-btn {
    margin-left: 80%;
    @include mdc-button-ink-color($mdc-theme-on-primary);
  }

  .large-button {
    background-color: purple;
  }

  .fab-right {
    margin: 0 0 5% 40%;
  }

  .fab-toolbar {
    margin: 0 5px;
    background-color: purple;
  }

 // ----- FORM ------
 .form {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr;
    margin: 2% 10%;
  }

}
